OnionApp/OnionApp.Domain.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OnionApp/OnionApp.Domain.Core/obj/Debug/OnionApp.Domain.Core.csproj.CoreCompileInputs.cache
OnionApp/OnionApp.Domain.Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OnionApp/OnionApp.Domain.Core/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OnionApp/OnionApp.Domain.Core/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OnionApp/OnionApp.Domain.Core/obj/Debug/OnionApp.Domain.Core.csprojAssemblyReference.cache
OnionApp/OnionApp.Infrastructure.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OnionApp/OnionApp.Infrastructure.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OnionApp/OnionApp.Infrastructure.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OnionApp/OnionApp.Infrastructure.Data/obj/Debug/OnionApp.Infrastructure.Data.csproj.CoreCompileInputs.cache
OnionApp/OnionApp.Infrastructure.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.runtimeconfig.json
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.runtimeconfig.dev.json
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.pdb
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.exe
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.dll
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.deps.json
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.Views.pdb
OnionApp/OnionApp/bin/Debug/netcoreapp2.2/OnionApp.Views.dll
OnionApp/OnionApp/obj/project.assets.json
OnionApp/OnionApp/obj/OnionApp.csproj.nuget.g.targets
OnionApp/OnionApp/obj/OnionApp.csproj.nuget.g.props
OnionApp/OnionApp/obj/OnionApp.csproj.nuget.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.cshtml.g.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.pdb
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.exe
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.dll
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.csprojAssemblyReference.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.csproj.FileListAbsolute.txt
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.csproj.CoreCompileInputs.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.csproj.CopyComplete
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.assets.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.Views.pdb
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.Views.dll
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.TagHelpers.output.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.TagHelpers.input.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.RazorTargetAssemblyInfo.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.RazorTargetAssemblyInfo.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.RazorCoreGenerate.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.RazorAssemblyInfo.cs
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.RazorAssemblyInfo.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.AssemblyInfoInputs.cache
OnionApp/OnionApp/obj/Debug/netcoreapp2.2/OnionApp.AssemblyInfo.cs
OnionApp/OnionApp.Domain.Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OnionApp/OnionApp.Domain.Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OnionApp/OnionApp.Domain.Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OnionApp/OnionApp.Domain.Interfaces/obj/Debug/OnionApp.Domain.Interfaces.csproj.CoreCompileInputs.cache
OnionApp/OnionApp.Domain.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
OnionApp/.vs/OnionApp/v15/Server/sqlite3/db.lock
OnionApp/OnionApp.Services.Interfaces/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
OnionApp/OnionApp.Services.Interfaces/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
OnionApp/OnionApp.Services.Interfaces/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
OnionApp/OnionApp.Services.Interfaces/obj/Debug/OnionApp.Services.Interfaces.csproj.CoreCompileInputs.cache
OnionApp/OnionApp.Services.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
